.footer {
  margin-top: 250px;
  &__line {
    height: 1px;
    border: 1px solid #d8d8d8;
    margin-bottom: 50px;
  }
  &__content {
    &-text {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__ul {
    display: flex;
    column-gap: 41px;
  }
  &__li {
    cursor: pointer;
    color: var(--light-colors-dark-gray-light, #707070);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
  }
  &__bottom {
    margin: 55px 0;
    &-copyright {
      display: flex;
      align-items: center;
      justify-content: space-between;

      color: var(--light-colors-black-light, #000);
      font-family: DM Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px;
    }
  }
}
.footer__bottom-icons {
  align-items: center;
  column-gap: 25px;
  display: flex;
}
.bottom__span {
  cursor: pointer;
  color: var(--light-colors-dark-gray-light, #707070);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
// .footer__btn {
//   z-index: 1000;
//   left: 20px;
//   position: absolute;
//   border: none;
//   background-color: #ffffff;
// }

.footer__content-form {
  position: relative;
}
