$black: #000000;
$white: #ffffff;
$gold: #a18a68;
$gray: #707070;
%for-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%for-text {
  color: $black;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.header {
  max-width: 1440px;
  margin: 0 auto;
  &__content {
    padding: 64px 0px 16px;

    @extend %for-flex;
    &-logo {
      cursor: pointer;
      transition: 0.5s;

      :hover {
        transition: 0.5s;
        opacity: 0.8;
      }
    }
    &-nav {
      @extend %for-flex;
    }
    &-categories {
      @extend %for-flex;
      column-gap: 64px;
    }
    &-category {
      @extend %for-text;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        transition: 0.3s;
        opacity: 0.8;
      }
    }
    &-span {
      text-transform: uppercase;
      display: flex;
      align-self: center;
      padding: 0 48px;
      color: #707070;
      width: 1px;
      height: 21px;
    }
    &-icons {
      display: flex;
      align-items: center;
      column-gap: 39px;
    }
  }
}
.icon__img {
  display: flex;
  align-items: center;
  cursor: pointer;
}
