$black: #000000;
$white: #ffffff;
$gold: #a18a68;
$gray: #707070;
%for-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%for-text {
  color: $black;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.preview {
  &__content {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: (url('../img/preview/background.png'));
    height: 646px;
    padding: 40px;
    &-promo {
    }
    &-title {
      color: $white;
      font-family: DM Sans;
      font-size: 33px;
      font-style: normal;
      font-weight: 500;
      line-height: 43px;
      cursor: pointer;
    }
    &-text {
      padding: 16px 0 48px;
      color: $white;

      font-family: DM Sans;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: 35px;
      cursor: pointer;
    }
    &-btn {
      background: none;
      padding: 14px 32px;
      border-radius: 6px;
      border: 2px solid var(--light-colors-white-light, #fff);

      color: $white;

      font-family: DM Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        opacity: 0.5;
        transition: 0.5s;
      }
    }
  }
}
.preview__content-icons {
  display: flex;
  align-items: center;
  column-gap: 15px;
  position: absolute;
  bottom: 24px;
  left: 45%;
}
